<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--文章发表页面使用的head-->
<head th:fragment="blog-head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}">博客详情</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>

<!--管理页面使用的head-->
<head th:fragment="basic-head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}">博客详情</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css ">
  <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>

<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">管理后台</h2>
      <a href="#" class=" m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'" th:href="@{/admin/blogs}"><i class="home icon"></i>博客</a>
      <a href="#" class=" m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'" th:href="@{/admin/types}"><i class="idea icon"></i>分类</a>
      <a href="#" class=" m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'" th:href="@{/admin/tags}"><i class="tags icon"></i>标签</a>
      <a href="#" class=" m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'" th:href="@{/admin/comments}"><i class="comments icon"></i>评论</a>

      <!--注销按钮-->
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <i class="user icon"></i>
            管理
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" class="item" th:href="@{/admin/logout}">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

<!--博客管理的二级导航-->
<div th:fragment="blog-second-menu(n)" class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" class="item" th:classappend="${n==1} ? 'blue active'"  th:href="@{/admin/blogs/input}">发布</a>
      <a href="#" class="item" th:classappend="${n==2} ? 'blue active'" th:href="@{/admin/blogs}">列表</a>
    </div>
  </div>
</div>
<!--分类管理的二级导航-->
<div th:fragment="type-second-menu(n)" class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" class="item" th:classappend="${n==1} ? 'blue active'" th:href="@{/admin/types/input}">新增</a>
      <a href="#" class="item" th:classappend="${n==2} ? 'blue active'" th:href="@{/admin/types}">列表</a>
    </div>
  </div>
</div>

<!--标签管理的二级导航-->
<div th:fragment="tag-second-menu(n)" class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" class="item" th:classappend="${n==1} ? 'blue active'" th:href="@{/admin/tags/input}">新增</a>
      <a href="#" class="item" th:classappend="${n==2} ? 'blue active'" th:href="@{/admin/tags}">列表</a>
    </div>
  </div>
</div>

<!--评论管理的二级导航-->
<div th:fragment="comments-second-menu(n)" class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" class="item" th:classappend="${n==1} ? 'blue active'">编辑</a>
      <a href="#" class="item" th:classappend="${n==2} ? 'blue active'" th:href="@{/admin/comments}">列表</a>
    </div>
  </div>
</div>

<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"  class="ui rounded image" alt="" style="width: 110px">
          </div>
        </div>
      </div>
      <div class="six wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
        <div class="ui inverted link list">
          <a href="#" class="item m-text-thin">Email：yikolemon@qq.com</a>
          <a href="#" class="item m-text-thin">QQ：Yikolemon</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced ">Yikolemon's Blog</h4>
        <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客,也是我第一个完成度较高的项目。请各位大佬多多指点，共同学习进步。</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2022 -  Designed by Yikolemon</p>
  </div>

</footer>
<div th:fragment="img-modal">
  <div class="ui modal">
    <input type="hidden" id="filename">
    <div class="header">
      图片上传七牛云
    </div>
    <i class="close icon"></i>
    <div id="img-container">
      <div class="contant modal-padding" align="middle">
        <h2 class="modal-tittle" id="title">请提交图片</h2>
        <button  class="ui button disabled" id="url" onclick="copy()">复制url</button>
        <button class="ui button disabled" id="delete" onclick="img_delete()">删除图片</button>
      </div>
      <div class="content" align="middle">
        <img src="#" th:src="@{/images/tip.png}" class="modal-img" id="img">
      </div>
    </div>

    <div class="contant modal-padding" align="middle">
      <form th:action="@{/getfile}" method="post" enctype="multipart/form-data">
        <input type="file" name="upload_img" class="ui button" id="file">
        <button class="ui button" type="button" onclick="upload()">上传</button>
      </form>

    </div>
    <br>

    <div class="actions" style="padding: 2em"></div>

  </div>
</div>

<!--博客发布页面的js和css-->
<div th:fragment="blog-script">
  <script src="../static/Jquery/jquery-3.2.1.min.js" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
</div>

<!--基本的js和css-->
<div th:fragment="basic-script">
  <script src="../static/Jquery/jquery-3.2.1.min.js" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</div>

<div th:fragment="img-script">
  <script>
    function show() {
      console.log("函数");
      $('.ui.modal')
              .modal('show')
      ;
    }

    function upload() {
      var fileInput = $('#file').get(0).files[0];
      if (fileInput){
        load();
        $('#url').removeClass("disabled");
        $('#delete').removeClass("disabled");
      }else {
        alert("请选择要上传的文件");
      }
    }
    function load() {
      var files = $('#file').prop('files');
      var data = new FormData();
      data.append('img', files[0]);
      $.ajax({
        type: 'POST',
        url: "/admin/getfile",
        data: data,
        cache: false,
        processData: false,
        contentType: false,
        dataType: 'json',
        success: function (data) {
          $("#title").text(data.src);
          $("#img").attr('src',data.src);
          $("#filename").val(data.filename);
        }
      });
    }

    function copy() {
      $("#title").after("<input id='copyVal'></input>");
      var text =$("#title").text();
      console.log(text)
      var input = document.getElementById("copyVal");
      input.value = text;//修改文本框的内容
      input.select();// 选中文本
      document.execCommand("copy");//执行浏览器复制命令
      $("#copyVal").remove();
      alert("复制成功");
    }

    function img_delete() {
      var flag = confirm("确认要删除吗？");
      if (flag){
        var params={
          "filename" : $("#filename").val()
        };
        $.ajax({
          type: 'POST',
          ansyv:true,
          url: "/admin/delete",
          data:params,
          dataType: 'json',
          success: function (data) {
            $("#img").attr('src',"/images/tip.png");
            $("#title").text("请提交图片");
            $('#url').addClass("disabled");
            $('#delete').addClass("disabled");
            alert(data.msg);
          }
        });
      }
    }

  </script>
</div>

</html>