<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--http://www.thymeleaf.org-->
<head th:replace="admin/admin_fragement :: basic-head(~{::title})">
  <title>评论管理</title>
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/admin_fragement :: menu(4)"></nav>

  <!--二级导航-->
  <div th:replace="admin/admin_fragement::comments-second-menu(1)"></div>

  <!--中间内容-->
  <div  class="m-container-middle m-padded-tb-big">

    <div class="ui container">
      <div class="ui success message"th:unless="${#strings.isEmpty(message)}" >
        <i class="close icon"></i>
        <div class="header">提示：</div>
        <p th:text="${message}">恭喜你，操作成功</p>
      </div>

      <!--评论表格-->
      <table class="ui celled table">
        <thead>
        <tr>
          <th></th>
          <th>用户</th>
          <th>回复用户</th>
          <th>内容</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="comment,iterStat : ${comments}">
          <tr>
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${comment.nickname}">用户</td>
            <td th:text="${comment.parentNickname}">回复用户</td>
            <td th:text="${comment.content}">评论内容</td>
            <td>
              <a href="#" class="ui  red basic button" onclick="return confirm('你确定要删除这条评论吗？')"th:href="@{/admin/comments/{id}/delete(id=${comment.id})}">删除</a>
            </td>
          </tr>
          <div th:if="${comment.childComment}!=null">
            <tr th:each="childComment:${comment.childComment}">
              <td></td>
              <td th:text="${childComment.nickname}">用户</td>
              <td th:text="${childComment.parentNickname}">回复用户</td>
              <td th:text="${childComment.content}">评论内容</td>
              <td>
                <a href="#" class="ui  red basic button" onclick="return confirm('你确定要删除这条评论吗？')"th:href="@{/admin/comments/{id}/delete(id=${childComment.id})}">删除</a>
              </td>
            </tr>
          </div>

        </div>

        </tbody>
        <tfoot>
        <tr>
          <th colspan="6"></th>
        </tr>
        </tfoot>
      </table>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="admin/admin_fragement::footer"></footer>


  <div th:replace="admin/admin_fragement::basic-script"></div>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });
    $('.message .close')
            .on('click',function () {
      $(this)
              .closest('.message')
              .transition('fade');
    });

  </script>
</body>
</html>