<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yikolemon.mapper.LikeMapper">
    <!--<cache type="com.yikolemon.cache.MyRedisCache"/>
    <cache/>-->


    <!--updateLike-->
    <update id="updateLike">
        INSERT OR REPLACE INTO t_like (id_blog, `like`)
        VALUES (#{blogId}, #{num});
    </update>

    <!--getLike-->
    <select id="getLike" resultType="com.yikolemon.pojo.Like">
        select t_like.id_blog blogId,`like` from t_like where id_blog=#{blogId}
    </select>

    <!--deleteLike-->
    <delete id="deleteLike">
        delete from t_like where id_blog=#{blogId}
    </delete>

</mapper>