<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: basic-head(~{::title})">
  <title>归档</title>
</head>
<body>

  <!--导航-->
  <nav th:replace="fragment :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big  animated fadeInUp">
    <div class="ui container">
      <!--标签头部-->
      <div class="ui top attached segment open-bg">
        <div class="ui middle aligned eight column grid">
          <div class="column"></div>
          <div class="six wide column"><h3 class="ui miku-colour t-second-size">归档</h3></div>
          <div class="right aligned six wide column">
            共 <h2 class="ui miku-colour m-inline-block m-text-thin t-second-size" th:text="${count}"> 14 </h2> 篇博客
          </div>
          <div class="column"></div>
        </div>
      </div>

      <th:block th:each="blogs:${map}">
        <h3 class="ui center aligned header miku-colour" th:text="${blogs.key}">2017</h3>
        <div class="ui fluid vertical menu open-bg">
          <a href="#" target="_blank" class="item" th:each="blog:${blogs.value}" th:href="@{/blog/{id}(id=${blog.id})}">
            <span>
               <span th:text="${blog.title}">博客标题</span>
               <div class="ui teal basic left pointing label" style="margin-left: 1.5em" th:text="${blog.date}">9月03</div>
            </span>
            <div class="ui orange basic label right-label" align="middle" th:text="${blog.flag}">原创</div>
          </a>
        </div>
      </th:block>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>

  <div th:replace="fragment::basic-script"></div>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
</body>
</html>